.navbar {
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    color:var(--secondary-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    &link{
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--link-color);
        font-weight: 600;
        &:hover {
            color: #000;
            transition: .5s;
            border-radius: 15px;
        }
        @media screen and (max-width:850px){
            color: var(--light-color);
        }

    }
    @media screen and (max-width:850px){
        padding: 40px;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background: #CF6251;
        transition: var(--transition);
        transform: translateX(-100%);
        
        &.is-active {
            transform: translateX(0);
        }
    }
}

.nav__li-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 10px;
    display: none;
}
.nav__link-link{
    position: relative;
}
.nav__li-ul.expanded{
    display: inline-flex;
}
.nav__ul{
    display: flex;
    align-items: center;
    gap: 30px; 
    @media screen and (max-width:850px){
        flex-direction: column;
    }
}
.nav__link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--link-color);
    font-weight: 600;
    @media screen and (max-width:850px){
        color: var(--light-color);
    }
}
.nav__link:hover {
        color: #000;
        transition: .5s;
}

@media screen and (max-width:850px){
    .nav__linkhover {
        color: var(--dark-color);
    }
    }
.logo__link{
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.header{
    @media screen and (max-width:850px){
        z-index: 1;
        background: #fff;
        position: sticky;
        top: 0;
        box-shadow: 0 0 5px black;
        .navbar{
            padding: 5px 0;
        }
    }
}
