.follow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 27px;
    @media screen and (max-width:850px){
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width:550px){
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: 0 15px;
    }
}
.big {
    grid-column: span 2;
    grid-row: span 2;
}
.instagram__h1 {
    margin-top: 138px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    color: var(--dark-color);
    text-align: center;
    @media screen and (max-width:550px){
        font-size: 38px;
        margin-top: 38px;
    }
}
.instagram__span{
    font-family: Poppins;
    // font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
}
.follow-img {
    max-width: 100%;
    @media screen and (max-width:550px){
        // grid-column: span 2;
        // grid-row: span 2;
    }
}