:root {
    --dark-color: #333;
    --light-color: #fff;
    --link-color:#5A5A5A;
    --parap-color:#828282;
    --secondary-color: #42766C;
    --primary-color:#F87661;
    --hover-color:#CF6251;
  
    --width: 1080px;
    --gutter: 0.625rem;
  
    --font: 'Poppins', sans-serif;
  
    --transition: .3s ease-in-out;
  }
  